/*banner*/

.banner-container {
    position: relative;
    &__img {
        display: block;
        width: 100%;
    }
    &__details {
        position: absolute;
        text-align: center;
        bottom: 40%;
        width: 100%;
        color: map-get($color, color-third);
        &-title-main {
            font-size: map-get($font-size, title);
        }
        &-p {
            font-size: map-get($font-size, subtitle);
            line-height: 30px;
            opacity: 0.7;
            letter-spacing: 0.2rem;
        }
    }
}

@include breakpoints(xg) {
    .banner-container__details {
        bottom: 30%;
        &-title-main {
            font-size: map-get($media-size, title);
        }
        &-p {
            font-size: map-get($media-size, subtitle);
        }
    }
}

@include breakpoints(s) {
    .banner-container__details {
        bottom: 20%;
        &-title-main {
            font-size: map-get($media-size, title);
        }
        &-p {
            font-size: map-get($media-size, subtitle);
        }
    }
}

@include breakpoints(xss) {
    .banner-container__details {
        bottom: 10%;
    }
}

@include breakpoints(tablet) {
    .banner-container__details {
        bottom: 10%;
        &-title-main {
            font-size: map-get($media-size, title720);
            margin-bottom: 10px;
        }
        &-p {
            font-size: map-get($media-size, subtitle720);
            line-height: 20px;
        }
    }
}

@include breakpoints(phone) {
    .banner-container__details {
        bottom: 20%;
        &-title-main {
            font-size: map-get($media-size, title525);
            margin-bottom: 10px;
        }
        &-p {
            font-size: map-get($media-size, subtitle525);
            line-height: 10px;
        }
    }
}

@include breakpoints(s-phone) {
    .banner-container__details {
        bottom: 10%;
        &-title-main {
            font-size: map-get($media-size, title525);
            margin-bottom: 5px;
        }
    }
}