.container-busqueda{
    display: flex;
    background: $busqueda-backcolor;
    justify-content: flex-start;
    justify-items: center;
    width: 100%;
    border: 1px solid map-get($color, color-third);
    border-radius: 10px;
    padding: 5px;
    margin: 20px 0;
    & img{
        width: 20px;
    }
    &__input{
        border: transparent;
        background: transparent;
        outline: none;
        padding-left: 20px;
        width: 100%;
    }
}

/*seccion artiuculo populares*/

.container-popular{
    margin-bottom: 50px;
    border-bottom: 1px solid map-get($color , color-secundary);
    padding-bottom: 20px;
    h3{
        color: map-get($color, color-primary);
        font-size: map-get($font-size, subtitle);
        margin-bottom: 30px;
    }
    &__firstpost{
        display: flex;
        margin-bottom: 20px;
        &__articulo{
            width: percentage(5/12);
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding-right: 10px;
        }
        .article{
            &__title{
                font-size: map-get($font-size, h2);
                color: map-get($color, color-primary);
            }
        }
        figure{
            width: percentage(7/12);
            padding-left: 10px;
        }

    }
    &__grid{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-column-gap: 20px;
        margin-bottom: 50px;
    }
    &__seeall{
        text-align: right;
        a{
        color: map-get($color, color-fourth);
        font-size: map-get($font-size, base);
        font-weight: bold;
        opacity: 0.8;
        }
    }
}

.container-list{
    margin-bottom: 50px;
    padding-bottom: 20px;
    h3{
        margin-bottom: 20px;
    }
    &__all{
        display: flex;
        flex-wrap: wrap;
        .all-article{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            figure{
                width:100%;
                margin-right: 20px;
            }
    }
}
}

.container-arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-left{
        display: flex;
        align-items: center;
        img{
            width: 20px;
            margin-right: 20px;
        }
        p{
            font-size: map-get($font-size, base);
        }
    }
    &-right{
        display: flex;
        align-items: center;
        img{
            width: 20px;
            margin-left: 20px;
        }
        p{
            font-size: map-get($font-size, base);
        }
    }
}